@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&family=M+PLUS+Rounded+1c:wght@400;500&family=Varela+Round&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/* 
 * Elemento: General
 * Descripcion: Elemento General
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 2;
  color: #262523;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.3;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.27;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.25;
  font-family: "Montserrat", sans-serif;
}


h4 {
  font-size: 1.2rem;
  line-height: 1.22;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.2;
}

h6 {
  font-size: 1rem;
  line-height: 1.18;
}

p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

b,
strong {
  font-weight: bold;
}

a {
  color: #735135;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  background-color: rgb(241, 243, 255);
  padding: 10px;
  border-radius: 10px;
}

ul menu {
  font-family: 'Montserrat', sans-serif;
}
/*  
 * Elemento: Header 
 * Descripcion: Header
*/

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: rgb(43, 80, 161);
  height: 50px;
  padding: 1em;
}

.top-nav a {
  text-decoration: none;
  color: #18a0fb;
  
}

.topnav a:hover {
  background-color: #222;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 99;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: blue;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 82px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

ul.slides {
  display: block;
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.slide-image:hover + .carousel-controls label {
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
  display: block;
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
  opacity: 1;
}

input:checked + .slide-container .nav label {
  display: block;
}

/*  
 * Elemento: Footer 
 * Descripcion: Footer
*/

footer {
  position: absolute;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;
}
.socials a i {
  font-size: 1.1rem;
  width: 20px;

  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
.footer-menu {
  float: right;
}
.footer-menu ul {
  display: flex;
}
.footer-menu ul li {
  padding-right: 10px;
  display: block;
}
.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: #27bcda;
}
#banner {
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 70px;
}
.button {
  background-color: #18A0FB; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
#banner-corto {
  padding-top: 40px;
  width: auto;
}
.top-nav {
  padding-top: 40px;
  padding-bottom: 20px;
}
.button {
  margin-bottom: 30px;
}
#button :hover {
  background-color: #1860fb;
}
#banner-txt {
  padding-bottom: 30px;
}
.texto-bienvenida {
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 70px;
}
.grid-clientes {
  padding-top: 60px;
  padding-bottom: 70px;
  display: flex;
  align-content: space-between;
  justify-content: center;
}
.texto-clientes{
  padding-left: 60px;
  padding-top: 60px;
}
.texto-mision{
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 70px;
}
.grid-mision {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 30px;

}

#image-mision img {
  border-radius: 10px;
}
.nosotros {
  width: 100%;
}
.grid-vision {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 30px;
  background-color: rgb(146, 146, 146);
}
#banner {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: 3;
}
.grid-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 45px;

}
.contacto {
  padding-left: 45px;
}
.grid-flex {
    display: flex;
    flex-direction: row;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}
.grid-bienvenida {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.grid-bienvenida h1{
  margin-left: 30px;
}
.grid-sectores {
  margin-left: 30px;
}
.grid-item2 {
  margin-top: 70px;
  margin-bottom: 20px;
}
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #18A0FB ;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  margin-left: 30px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

@media (max-width: 500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .clientes-logos {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}